html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: inherit;
    background-color: rgb(233, 235, 236);
}

#app {
    height: inherit;
} 

@import "./variable.scss";
@import "./input.scss";
@import "./button.scss";